Measuring safety performance on tracking receivers after the ball is thrown.

In [ ]:
import pandas as pd

In [43]:
players = pd.read_csv('./data/players.csv')
safeties = players[players.position.isin(['FS', 'SS'])]
safeties

,nflId,height,weight,birthDate,collegeName,position,displayName
2,2543850,69,186,1991-12-18,Purdue,SS,Ricardo Allen
5,2555543,73,216,1995-07-26,Florida,FS,Keanu Neal
16,2558184,71,190,1993-06-05,San Diego State,SS,Damontae Kazee
25,79848,72,204,1987-12-20,Ohio State,SS,Malcolm Jenkins
26,2534832,70,195,1990-06-23,Virginia,FS,Rodney McLeod
...,...,...,...,...,...,...,...
1150,2540287,72,203,1988-11-25,California (PA),FS,Rontez Miles
1159,2558274,72,202,1994-08-05,Washington State,FS,Shalom Luani
1203,2532928,5-10,210,12/17/1988,Oregon,SS,Eddie Pleasant
1237,496723,6-0,212,12/29/1988,Tennessee,SS,Eric Berry
1250,2541135,74,203,1989-06-06,Texas Tech,FS,Cody Davis

In [48]:
games = pd.read_csv('./data/games.csv')
GAME1 = games.iloc[0]
GAME1

gameId             2018090600
gameDate           09/06/2018
gameTimeEastern      20:20:00
homeTeamAbbr              PHI
visitorTeamAbbr           ATL
week                        1
Name: 0, dtype: object

GET ALL PLAYERS FROM THIS GAME